<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Unidades </title>
</head>
<body>
<section layout:fragment="content" th:remove="tag">

    <div class="row mb-3 justify-content-center text-center">
        <div class="col-md-2 col-sm-4 mb-2">
            <label for="startDate" class="form-label">Fecha Inicio</label>
            <input type="date" id="startDate" class="form-control text-center" />
        </div>
        <div class="col-md-2 col-sm-4 mb-2">
            <label for="endDate" class="form-label">Fecha Fin</label>
            <input type="date" id="endDate" class="form-control text-center" />
        </div>
        <div class="col-md-3 col-sm-6 d-flex align-items-end justify-content-center mb-2 gap-2">
            <button id="btnSearch" class="btn btn-primary">Buscar</button>
            <button id="btnClear" class="btn btn-secondary">Limpiar</button>
        </div>
        <div class="col-12 mt-2 text-center">
            <div id="dateRangeError" class="text-danger small" style="display:none;"></div>
        </div>
    </div>

    <div class="container-table">
        <table id="historicInventoryTable" class="table table-striped dt-responsive striped" style="width: 100%;">
            <thead>
            <tr>
                <th>inventoryId</th>
                <th>PROPIETARIO</th>
                <th>UNIDAD</th>
                <th>ESTADO DE LA UNIDAD</th>
                <th>TIPO DE UNIDAD</th>
                <th>TAMAÑO</th>
                <th>CONDICION</th>
                <th>LOCALIDAD</th>
                <th>FECHA GATEIN</th>
                <th>GRADO-CALIDAD</th>
                <th>DIAS DE ESTADIA</th>
                <th>FECHA FIN REPARACION</th>
                <th>EDO. ESTIMADO NAVIERA</th>
                <th>APTO PARA</th>
                <th>MAQUINARIA DE UNIDAD (RF)</th>
                <th>FECHA DE LLEGADA</th>
                <th>OBVERVACIONES</th>
                <th>DIA EN EL INVENTARIO</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>inventoryId</th>
                <th>PROPIETARIO</th>
                <th>UNIDAD</th>
                <th>ESTADO DE LA UNIDAD</th>
                <th>TIPO DE UNIDAD</th>
                <th>TAMAÑO</th>
                <th>CONDICION</th>
                <th>LOCALIDAD</th>
                <th>FECHA GATEIN</th>
                <th>GRADO-CALIDAD</th>
                <th>DIAS DE ESTADIA</th>
                <th>FECHA FIN REPARACION</th>
                <th>EDO. ESTIMADO NAVIERA</th>
                <th>APTO PARA</th>
                <th>MAQUINARIA DE UNIDAD (RF)</th>
                <th>FECHA DE LLEGADA</th>
                <th>OBVERVACIONES</th>
                <th>DIA EN EL INVENTARIO</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <script type="text/javascript" th:src="@{/js/containers/historicInventory.js}"></script>
    <script type="text/javascript" th:src="@{/js/checkdigit.min.js}"></script>
</section>
</body>
</html>