<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIDADES ASIGNADAS</title>
</head>
<body>
	<section layout:fragment="content" th:remove="tag">
		<div class="title-table">
			<h1>UNIDADES ASIGNADAS <span th:text="${loggedUser.warehouseId}"></span></h1>
		</div>
					
				<select class="form-control" id="shippingCompany" hidden=true >
				<option th:each="option : ${catShipping}" th:value="${option.shippingCompanyId}" th:text="${option.description}"></option>
				</select>	
				
				<select class="form-control" id="containerType" hidden=true>
				<option value="1">CH</option>
				<option value="2">OT</option>
				<option value="3">DC</option>
				<option value="4">GS</option>
				<option value="5">IMO</option>
				<option value="6">RF</option>
				<option value="7">HC</option>
				</select>
									
				<select class="form-control" id="containerClasification"hidden=true >
				<option value="1">A</option>
				<option value="2">B</option>
				<option value="3">C</option>
				<option value="4">BL</option>
				<option value="5">D</option>
				<option value="6">FS</option>
				<option value="7">FX</option>
				</select>
				
				<select class="form-control" id="containerCondition" hidden=true>
				<option value="1">DISPONIBLE</option>
				<option value="2">DAÑADO</option>
				<option value="3">DAÑADO/PTI </option>
				<option value="4">EVACUACION</option>
				<option value="5">PTI</option>
				<option value="6">BLOQUEADO/GX</option>
				<option value="7">TOTAL LOOS</option>
				<option value="8">VENTA</option>
				<option value="9">ACCIDENTADO</option>
				</select>
				
			<div class="container-table">
			<table id="containerTable" class="table table-striped dt-responsive striped" style="width: 100%;">
								<thead>
									<tr>
										<th>CONTAINER_ID</th> 
										<th>Fecha</th> 
										<th>Propietario</th>
										<th>Cliente Final</th>
										<th>Unidad</th>
										<th>Nomenclatura</th> 
										<th>Tipo</th> 
										<th>Condicion</th>
										<th>Grado - Calidad</th> 
										<th>Booking</th> 
										<th>Opciones</th> 
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>CONTAINER_ID</th> 
										<th>Fecha</th> 
										<th>Propietario</th>
										<th>Cliente Final</th>
										<th>Unidad</th>
										<th>Nomenclatura</th> 
										<th>Tipo</th> 
										<th>Condicion</th>
										<th>Grado - Calidad</th> 
										<th>Booking</th> 
										<th>Opciones</th> 
									</tr>
								</tfoot>
							</table>
		</div>
		
		<div class="modal fade" id="inspectionModal" tabindex="-1" role="dialog" aria-labelledby="inspectionModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-app">
						<h5 class="modal-title" id="inspectionModalLabel">Inspección</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #A4FFFE">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="inspectionContainerForm">
					<input type="text" class="form-control" id="containerId" hidden=true>
					<div class="modal-body modal-body-app">
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="newDateInspection">Fecha</label>
									<input type="date" class="form-control" id="newDateInspection"  min="">
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newShippinCompany">Propietario</label>
									<select class="form-control" id="newShippinCompany" >
									<option th:each="option : ${catShipping}" th:value="${option.shippingCompanyId}" th:text="${option.description}"></option>
									</select>	
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newFinalClient">Cliente Final</label>
									<input type="text" class="form-control" id="newFinalClient" >
								</div>
							</div>
						</div>
							<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="newUnit">Unidad</label>
									<input type="text" class="form-control" id="newUnit"  min="">
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newNomenclatura">Nomenclatura</label>
									<input type="text" class="form-control" id="newNomenclatura" >
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newTypeUnit">Tipo de unidad</label>
									<select class="form-control" id="newTypeUnit" onclick="selectType()">
									<option value="1">CH</option>
									<option value="2">OT</option>
									<option value="3">DC</option>
									<option value="4">GS</option>
									<option value="5">IMO</option>
									<option value="6">RF</option>
									<option value="7">HC</option>
									</select>
								</div>
							</div>
						</div>
							<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="newCondition">Condicion</label>
									<select class="form-control" id="newCondition">
									<option value="1">A</option>
									<option value="2">B</option>
									<option value="3">C</option>
									<option value="4">BL</option>
									<option value="5">D</option>
									<option value="6">FS</option>
									<option value="7">FX</option>
									</select>
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newQuality">Grado calidad</label>
									<select class="form-control" id="newQuality" >
									<option value="1">DISPONIBLE</option>
									<option value="2">DAÑADO</option>
									<option value="3">DAÑADO/PTI </option>
									<option value="4">EVACUACION</option>
									<option value="5">PTI</option>
									<option value="6">BLOQUEADO/GX</option>
									<option value="7">TOTAL LOOS</option>
									<option value="8">VENTA</option>
									<option value="9">ACCIDENTADO</option>
									</select>
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newBooking">Booking</label>
									<input type="text" class="form-control" id="newBooking" >
								</div>
							</div>
						</div>
						
						
						<div hidden = true id=reeferDiv>
						<div class="row" >
							<div class="col-sm" >
								<div class="form-group">
									<label for="newVentilation">Ventilacion</label>
									<input type="text" class="form-control" id="newVentilation" >
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="newTemperature">Temperatura</label>
									<input type="text" class="form-control" id="newTemperature" >
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="newHumity">Humedad</label>
									<input type="text" class="form-control" id="newHumity" >
								</div>
							</div>
							</div>
							
							<div class="row">
							<div class="col-sm" >
								<div class="form-group">
									<label for="newCo2">Co2</label>
									<input type="text" class="form-control" id="newCo2" >
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="newO2">O2</label>
									<input type="text" class="form-control" id="newO2" >
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newNi">Ni</label>
									<input type="text" class="form-control" id="newNi" >
								</div>
							</div>
							</div>
							</div>
							
							
							<div hidden = true id=gensetDiv>
							<div class="row">
							<div class="col-sm" id=divHours>
								<div class="form-group">
									<label for="newDiesel">Diesel</label>
									<input type="text" class="form-control" id="newDiesel" >
								</div>
							</div>
							<div class="col-sm" id=divSetPoint>
								<div class="form-group">
									<label for="newHorometro">Horometro</label>
									<input type="text" class="form-control" id="newHorometro" >
								</div>
							</div>
							</div>
							</div>
							<div class="row" >
							<div class="col-sm" hidden=true id=unitAsociate>
								<div class="form-group">
									<label for="newAsocieteUnit">Unidad Asociada</label>
									<input type="text" class="form-control" id="newAsocieteUnit" >
								</div>
							</div>
							<div class="col-sm" >
								<div class="form-group">
									<label for="newqualityStamp">Sello de calidad</label>
									<input type="text" class="form-control" id="newqualityStamp" >
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="newSecurityStamp">Sello de seguridad</label>
									<input type="text" class="form-control" id="newSecurityStamp" >
								</div>
							</div>
							</div>
							
						<div class="modal-body modal-body-app">
						<div class="row" >
							
							<div class="col-sm" >
								<div class="form-group">
									<label for="newImage">Foto</label>
									<input type="file"  class="form-control"  id="newImageCode" accept="image/*"  multiple  oninput="addImageToTable()">
								  <img id="imagenPrevisualizacion" src="" hidden=true>
								  <textarea rows="" cols="" id= "imagenData" hidden=true></textarea>
								</div>
							</div>
						
							
							
						<!-- 	<div class="col-sm">
								<div class="form-group">
								 <button id="snap" type="button" class="form-control btn btn-dark" onclick="stopVideo()">Tomar</button>
								 <br> <br>
								 <button id="snaptake" type="button" class="form-control btn btn-dark" hidden =true onclick="playVideo()">Nueva Foto</button>
								</div>
								 <textarea rows="" cols="" id= "imagenData" hidden=true></textarea>
							</div>
							<div class="form-group">
								 <video id="video" playsinline autoplay width="100%" height="100%"></video>
								</div>
								<div class="form-group" hidden=true>
								 <canvas id="canvas" width="1280" height="720"></canvas>
								 
								</div>   -->
							</div>
						</div>
						<div class="inspecction-table">
							<table id="imageTableInspection" class="table table-striped dt-responsive striped" style="width: 100%;">
								<thead>
									<tr>
									<th>id</th>
										<th>Imagen</th>
											<th>File</th>
										<th>Opciones</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="row">
							<div class="col-sm">
								<div class="form-group">
									<label for="name">Nombre</label>
									<input type="text" class="form-control" id="name" required >
								</div>
							</div>
														
									<details id="appointmentNewData" class="contenedor">
									<summary>Firma</summary>
									<div class="contenedor">
								
										<div class="row">
											<div class="col-sm">
										 		<canvas id="draw-canvas" width="250" height="90" >No tienes un buen navegador.</canvas>
										 	</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<input type="button" class="btn btn-dark" id="draw-submitBtn" value="Firmar"></input>
												<input type="button" class="btn btn-dark" id="draw-clearBtn" value="Limpiar Firma"></input>
												<label hidden=true>Color</label >
												<input type="color" id="color" hidden=true>
												<label>Tamaño Puntero</label>
												<input type="range" id="puntero" min="1"  max="5" width="10%">
											</div>
										</div>
										<div class="row" hidden=true>
											<div class="col-md-12">
												<textarea id="draw-dataUrl" class="form-control" rows="5"></textarea>
											</div>
										</div>
										<div class="contenedor" hidden=true>
											<div class="col-md-12">
												<img id="draw-image" src="" alt="Tu Imagen aparecera Aqui!"/>
											</div>
										</div>
									</div>
								</details>  
							
						</div>  
						
					</div>		
					<div class="modal-footer modal-footer-app">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						<button id="btnAceptar" type="submit" class="btn btn-success" disabled>Aceptar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/js/appointments/firma.js}"></script>
		<script type="text/javascript" th:src="@{/js/inspections/inspectionOut.js}"></script>
	</section>
</body>
</html>