<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Estimados</title>
</head>
<body>
	<section layout:fragment="content" th:remove="tag">
		<div class="title-table">
			<h1>Estimados <span th:text="${loggedUser.warehouseId}"></span></h1>
		</div>
		<input type="text" class="form-control" id="option" hidden=true>
		<input type="text" class="form-control" id="length" hidden=true>
		<input type="text" class="form-control" id="width" hidden=true >
		<input type="text" id="containerType" hidden=true>
		
		<select class="form-control" id="inspectionCustomerType" hidden=true>
									<option value="1">MERCHANT</option>
									<option value="2">CARRIER</option>
		</select>
		
		<select class="form-control" id="newContainerDescription" hidden=true >
									<option value="1">CH</option>
									<option value="2">OT</option>
									<option value="3">DC</option>
									<option value="4">GS</option>
									<option value="5">IMO</option>
									<option value="6">RF</option>
									<option value="7">HC</option>
		</select>									
		
		<select class="form-control" id="shippingCompanyCatalog" hidden=true>
				<option th:each="option : ${catShipping}" th:value="${option.shippingCompanyId}" th:text="${option.description}"></option>
		</select>	
		
		<select class="form-control" id="catComponent" hidden=true>
				<option th:each="option : ${catComponent}" th:value="${option.componentId}" th:text="${option.component}"></option>
		</select>		
		
		<select class="form-control" id="catDamage" hidden=true>
				<option th:each="option : ${catDamage}" th:value="${option.damageId}" th:text="${option.description}"></option>
		</select>	
		
		<select class="form-control" id="catRepair" hidden=true>
				<option th:each="option : ${catRepair}" th:value="${option.repairId}" th:text="${option.repairDescription}"></option>
		</select>	
		
		 <textarea rows="" cols="" id= "imagenData" hidden=true></textarea>
		 
		<select class="form-control" id="containerDescriptionQuote"hidden=true>
									<option value="1">CH</option>
									<option value="2">OT</option>
									<option value="3">DC</option>
									<option value="4">GS</option>
									<option value="5">IMO</option>
									<option value="6">RF</option>
									<option value="7">HC</option>
		</select>
		
		<select class="form-control" id="containerConditionQuote" hidden=true>
									<option value="1">DISPONIBLE</option>
									<option value="2">DAÑADO</option>
									<option value="3">DAÑADO/PTI </option>
									<option value="4">EVACUACION</option>
									<option value="5">PTI</option>
									<option value="6">BLOQUEADO/GX</option>
									<option value="7">TOTAL LOOS</option>
									<option value="8">VENTA</option>
									<option value="9">ACCIDENTADO</option>
		</select>
		 <input type="text" class="form-control" id="containerId" hidden=true>
		  <input type="text" class="form-control" id="inspectionId" hidden=true>
		  
		  <select class="form-control" id="containerDescriptionQuoteCatalog" hidden=true>
									<option value=1>Por Crear</option>
									<option value=2>Creado</option>
									<option value=3>Aprobado</option>
									<option value=4>Reparación Confirmada</option>
									<option value=5>Actualizar  </option>
									<option value=6>Cancelado</option>
									<option value=7>Actualizado</option>
									<option value=8>Rechazado</option>
									<option value=9>Cerrado</option>
									
									</select>
			<div class="container-table">
			<table id="quoteTable" class="table table-striped dt-responsive striped" style="width: 100%;">
								<thead>
									<tr>
										<th>N°</th>
										<th>Unidad</th>
										<th>Tipo de Unidad</th>
										<th>Nomenclatura</th>
										<th>Propietario</th>
										<th>Estado de la Unidad</th>
										<th>Número del Estimado</th>
										<th>Responsabilidad del Daño</th>
										<th>Cobrar a:</th>
										<th>Status</th>
										<th>Validación del Estimado</th>
										<th>Estado del Estimado</th>
										<th>Editar estado del Estimado</th>
										<th>Estado del Estimado de la Naviera</th>
										<th>Aprobación del Cliente</th>
										<th>N° de Factura</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>N°</th>
										<th>Unidad</th>
										<th>Tipo de Unidad</th>
										<th>Nomenclatura</th>
										<th>Propietario</th>
										<th>Estado de la Unidad</th>
										<th>Número del Estimado</th>
										<th>Responsabilidad del Daño</th>
										<th>Cobrar a:</th>
										<th>Status</th>
										<th>Validación del Estimado</th>
										<th>Estado del Estimado</th>
										<th>Editar estado del Estimado</th>
										<th>Estado del Estimado de la Naviera</th>
										<th>Aprobación del Cliente</th>
										<th>N° de Factura</th>
										<th>Opciones</th>
															
									</tr>
								</tfoot>
							</table>
							
							 <textarea rows="" cols="" id= "imagenData" hidden=true></textarea>
		</div>
		
		<div class="modal fade" id="quoteModel" tabindex="-1" role="dialog" aria-labelledby="quoteModelLabel" aria-hidden="true" style="overflow-y: scroll;" >
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-app">
						<h5 class="modal-title" id="inspectionlLabel">Daños</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #A4FFFE">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="quoteModelForm">
					<div class="modal-body modal-body-app">
					
						<div class="row">
					
						<div class="col-sm" id=divConditionUnit hidden=true>
								<div class="form-group">
									<label for="quoteCondition">Estatus</label>
									<select class="form-control" id="quoteCondition">
									<option value=1>Por crear</option>
									<option value=2>Creado</option>
									<option value=3>Aprobado</option>
									<option value=4>Reparación Confirmada</option>
									<option value=5>Actualizar  </option>
									<option value=6>Cancelado</option>
									<option value=7>Actualizado</option>
									
									</select>
								</div>
							</div>
							
						</div>
					
					<div class="inspecction-table" id="divTable">
							<table id="inspectionTable" class="table table-striped dt-responsive striped"  style="width: 100%;" >
								<thead>
									<tr>
									    <th>id</th>
										<th>Sección</th>
										<th>Componente</th>
										<th>Daño</th>
										<th>Método de Reparación</th>
										<th>Largo</th>
										<th>Ancho</th>
										<th>Área cm2</th>
										<th>Profundidad</th>
										<th>Responsabilidad del Daño</th>
										<th>Código de Localización</th>
										<th>Cantidad</th>
										<th>Fabricante</th>
										<th>Número de Parte SAP</th>
										<th>Número de Parte</th>
										<th>Descripción de la Parte</th>
										<th>Código de Trabajo</th>
										<th>Descripción de la Reparación</th>
										<th>Hrs</th>
										<th>Labor</th>
										<th>$ Material</th>
										<th>Tarifa</th>
										<th>Fotos</th>
										<th>Observaciones</th>
										<th>Status</th>
										<th>Opciones</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					<div class="modal-footer modal-footer-app">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						<button id=quotePrint type="button" class="btn btn-quote" onclick="openPdf()">Ver Documento</button>
						<button id=quoteDenegate type="button" class="btn btn-quoteCanceled" onclick="newFormDenegate(6)">Cancelar</button>
						<button id=quoteDenegate type="button" class="btn btn-quoteUpdate" onclick="newFormDenegate(5)">Actualizar</button>
						<button id=quoteDenegate type="button" class="btn btn-quoteApproved" onclick="newFormDenegate(3)">Aprobar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="inspectionCapModel" tabindex="-1" role="dialog" aria-labelledby="inspectionCapModelLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-app">
						<h5 class="modal-title" id="inspectionlLabel">Datos del Daño</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #A4FFFE">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="inspectionCapModelForm">
					<div class="modal-body modal-body-app">
					
					<div class="row">
					
							<div class="col-sm" id=divConditionUnit>
								<div class="form-group">
									<label for="newWorkCode">Código de Trabajo</label>
									<input type="text" class="form-control" id="newWorkCode" >
								</div>
							</div>

							<div class="col-sm" >
								<div class="form-group">
									<label for="newRepairDescription">Descripción de la Reparación</label>
									<input type="text" class="form-control" id="newRepairDescription" >
								</div>
							</div>

							<div class="col-sm" id=divConditionUnit>
								<div class="form-group">
									<label for="newHours">Horas</label>
									<input type="text" class="form-control" id="newHours" >
								</div>
							</div>

							</div>

							<div class="row">
								
								<div class="col-sm" id=divConditionUnit>
									<div class="form-group">
										<label for="newLabor">Labor</label>
										<input type="text" class="form-control" id="newLabor" >
									</div>
								</div>
								
								<div class="col-sm" >
									<div class="form-group">
										<label for="newMaterial">$ Material</label>
										<input type="text" class="form-control" id="newMaterial" >
									</div>
								</div>
								
								<div class="col-sm" id=divConditionUnit>
									<div class="form-group">
										<label for="newTarifa">Tarifa</label>
										<input type="text" class="form-control" id="newTarifa" >
									</div>
								</div>
								
							</div>

							</div>
							<div class="modal-footer modal-footer-app">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								<button type="submit" class="btn btn-success" >Aceptar</button>
							</div>
							</form>
							</div>
							</div>
							</div>

							<div class="modal fade" id="imageShowModal" tabindex="-1" role="dialog" aria-labelledby="imageShowModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-xl" role="document">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: dark">
									</button>
									<form id="imageShowForm">
										<div class="modal-body modal-body-app">
											<div class="row">
												<div class="col-sm">
													<div class="form-group">
														<img id="imagenPrevisualizacion" src="" width="100%" height="100%" >
													</div>
												</div>
											</div>
										</div>      
									</form>
								</div>
							</div>

							<div class="modal fade" id="quoteStatusModel" tabindex="-1" role="dialog" aria-labelledby="quoteStatusModelLabel" aria-hidden="true">
								<div class="modal-dialog modal-xl" role="document">
									<div class="modal-content">
										<div class="modal-header modal-header-app">
											<h5 class="modal-title" id="inspectionlLabel">Estimados de Inspección</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #A4FFFE">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form id="quoteStatusModelForm">
											<div class="modal-body modal-body-app">
                    
                    <div class="row">
					
							<div class="col-sm" id=divConditionUnit>
								<div class="form-group">
									<label for="containerCondition">Estatus</label>
									<select class="form-control" id="containerDescriptionQuote">
									<option >Creado</option>
									<option >Por crear</option>
									<option >Aprobado</option>
									<option >Reparación Confirmada</option>
									<option >Actualizar  </option>
									<option >Cancelado</option>
									<option >Actualizado</option>
									
									</select>
								</div>
							</div>
							
						</div>
						
					</div>
					<div class="modal-footer modal-footer-app">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success" >Aceptar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		
			<div class="modal fade" id="addNewDamageModel" tabindex="-1" role="dialog" aria-labelledby="addNewDamageLabel" aria-hidden="true" > 
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-app">
						<h5 class="modal-title" id="pregatelLabel">Daño</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #A4FFFE">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="addNewDamageForm" >
					<div class="modal-body modal-body-app">
						
						<div class="row">
							<div class="col-sm" id=divPart>
								<div class="form-group">
									<label for="newPart">Sección</label>
									<select class="form-control" id="newPart" oninput="showComponents()" disabled>
									<option value="0">Selecciona una opción</option>
									</select> 
								</div>
							</div>
							<div class="col-sm" id=divDamage>
								<div class="form-group">
									<label for="newComponentInspection">Componente</label>
									
									<select class="form-control" id="newComponentInspection2" oninput="saveComponent()"disabled>
									<option th:each="option : ${catComponent}" th:value="${option.componentId}" th:text="${option.component}"></option>
									</select>	
									
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="newDamage">Daño</label>
									<select class="form-control" id="newDamage" oninput="saveDamage()"disabled>
									</select>
								</div>
							</div>
							
							<div class="col-sm" >
								<div class="form-group">
									<label for="newLocationInspection">Localización</label>
									<input type="text" class="form-control" id="newLocationInspection" disabled>
								</div>
							</div>
						</div>
						<div class="row" >
						
							<div class="col-sm">
								<div class="form-group">
									<label for="newRepair">Métodos de Reparación</label>
									<select class="form-control" id="newRepair"disabled>
									<option th:each="option : ${getRepairInformation}" th:value="${option.repairId}" th:text="${option.repairDescription}"></option>
									</select>
								</div>
							</div>
							
							<div class="col-sm">
								<div class="form-group">
									<label for="newReferent">Observaciones</label>
									<input type="text" class="form-control" id="newReferent" disabled>
								</div>
							</div>
							
							<div class="col-sm" id=divInspectionCustomerType>
								<div class="form-group">
									<label for="inspectionCustomerType">Responsabilidad del Daño</label>
									<select class="form-control" id="inspectionCustomerType" disabled>
									<option value="1">MERCHANT</option>
									<option value="2">CARRIER</option>
									</select>
								</div>
							</div>
						<div class="col-sm" hidden=true>
								<div class="form-group">
									<label for="newImage">Foto</label>
									<input type="file"  class="form-control"  id="newImageCode" accept="image/*"  multiple  oninput="addImageToTable()">
								  <img id="imagenPrevisualizacion" src="" hidden=true>
								  <textarea rows="" cols="" id= "imagenData" hidden=true></textarea>
								</div>
							</div>
							</div>
							
							<div class="row" >
							<div class="col-sm">
								<div class="form-group">
									<label for="largeInspection">Largo</label>
									<input type="text" class="form-control" id="largeInspection"  disabled >
								</div>
							</div>
							
							<div class="col-sm">
								<div class="form-group">
									<label for="heigthInspection">Ancho</label>
									<input type="text" class="form-control" id="heigthInspection"  disabled>
								</div>
							</div>
							
							<div class="col-sm" >
								<div class="form-group">
									<label for="depthInspection">Profundidad</label>
									<input type="text" class="form-control" id="depthInspection"  disabled>
								</div>
							</div>
							
							<div class="col-sm" >
								<div class="form-group">
									<label for="otherLargeInspection">Largo</label>
									<input type="text" class="form-control" id="otherLargeInspection" disabled >
								</div>
							</div>
							<div class="col-sm">
								<div class="form-group">
									<label for="quantityInspection">Cantidad</label>
									<input type="text" class="form-control" id="quantityInspection"  disabled>
								</div>
							</div>
						</div>
						</div>
						
						<div class="inspecction-table">
							<table id="imageTableInspection" class="table table-striped dt-responsive striped" style="width: 100%;">
								<thead>
									<tr>
										<th>inspectionId</th>
										<th>Imagen</th>
										<th>Archivo</th>
										<th>Opciones</th>
									</tr>
								</thead>
							</table>
						</div>
						
						
					<div class="modal-footer modal-footer-app">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		
			<div class="modal fade" id="denegateModel" tabindex="-1" role="dialog" aria-labelledby="denegateModellLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-app">
						<h5 class="modal-title" id="inspectionlLabel">Motivo del Rechazo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #A4FFFE">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="denegateForm">
					<div class="modal-body modal-body-app">
					
					<div class="row">
							<div class="col-sm" id=divConditionUnit>
								<div class="form-group">
									<label for="coments">Comentarios</label>
									<textArea id="coments" class="form-control" ></textArea>
								</div>
							</div>
							
						</div>
					</div>
					<div class="modal-footer modal-footer-app">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success" >Aceptar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:src="@{/js/quotes/quoteClients.js}"></script>
	</section>
</body>
</html>