<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/alert.css}" />	
</head>
<body>
	<th:block th:fragment="alert">
		<div id="successModal" class="modal fade">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header">
						<div class="icon-box">
							<i class="far fa-check-circle"></i></div>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<p class="text-center"></p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>

		<div id="warningModal" class="modal fade">
			<div class="modal-dialog modal-warning">
				<div class="modal-content">
					<div class="modal-header">
						<div class="icon-box">
							<i class="fas fa-exclamation-circle"></i>
						</div>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<p class="text-center"></p>
						<i></i>
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger btn-block" data-dismiss="modal">Aceptar</button>
					</div>
				</div>
			</div>
		</div>

		<div id="errorModal" class="modal fade">
			<div class="modal-dialog modal-error">
				<div class="modal-content">
					<div class="modal-header">
						<div class="icon-box">
							<i class="fas fa-times"></i>
						</div>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<p class="text-center"></p>
						<i></i>
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger btn-block" data-dismiss="modal">Acpetar</button>
					</div>
				</div>
			</div>
		</div>

		<div id="confirmModal" class="modal fade">
			<div class="modal-dialog modal-warning">
				<div class="modal-content">
					<div class="modal-header">
						<div class="icon-box">
							<i class="fas fa-exclamation-circle"></i>
						</div>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body">
						<p class="text-center"></p>
						<i></i>
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger btn-ok" onclick="acceptedStatus()"
							data-dismiss="modal">Confirmar</button>
						<button class="btn btn-danger " data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>