<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

	<th:block th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark ">
			<a class="navbar-brand" th:href="@{/index}"> <img th:src="@{/images/Logo TMM Logistics-Letras Blancas.png}" alt="tmm-logo" height="30"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div  class="collapse navbar-collapse " id="navbarNav">
				<ul class="nav navbar-nav ml-auto">
					<!-- <li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN')" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-user-cog"></i> Sistema </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a sec:authorize="hasAnyRole('ADMIN','MASTER')" class="dropdown-item" th:href="@{/administration/userAdministration}">Usuarios</a>
							<a  class="dropdown-item" th:href="@{/administration/customersAdministration}">Clientes</a>
						</div>
					</li> -->
					<!-- <li class="nav-item dropdown">
						<a  sec:authorize="hasAnyRole('ADMIN','MASTER','AGENTE_ADUANAL',
						'CLIENTE AA_AGUASCALIENTES','CLIENTE AA_ALTAMIRA','CLIENTE AA_ENSENADA','CLIENTE AA_MANZANILLO','CLIENTE AA_PANTACO','CLIENTE AA_VERACRUZ',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')"
						 class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-bookmark"></i> Pre-Registro </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/preRegistration/preRegistration}">Pre-Registro</a>
						</div>
					</li> -->
					<li class="nav-item dropdown">
						<a  sec:authorize="hasAnyRole('ADMIN','MASTER','AGENTE_ADUANAL',
						'CLIENTE AA_AGUASCALIENTES','CLIENTE AA_ALTAMIRA','CLIENTE AA_ENSENADA','CLIENTE AA_MANZANILLO','CLIENTE AA_PANTACO','CLIENTE AA_VERACRUZ',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')"
						 class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="far fa-calendar-check"></i> Citas </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/appointments/appointment}">Citas</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'INSPECTOR_AGUASCALIENTES','INSPECTOR_ALTAMIRA','INSPECTOR_ENSENADA','INSPECTOR_MANZANILLO','INSPECTOR_PANTACO','INSPECTOR_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')"
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-folder"></i> Pre Gate </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item"  th:href="@{/containers/preGate}" >Pre Gate</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')"
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-box"></i> Gate In </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/containers/gateIn}" >Gate In</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CLIENTE NAVIERA_AGUASCALIENTES','CLIENTE NAVIERA_ALTAMIRA','CLIENTE NAVIERA_ENSENADA','CLIENTE NAVIERA_MANZANILLO','CLIENTE NAVIERA_PANTACO','CLIENTE NAVIERA_VERACRUZ',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')"
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-truck"></i> Inventario </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<!--  <a sec:authorize="hasAnyRole('ADMIN',
							'CLIENTE NAVIERA_AGUASCALIENTES','CLIENTE NAVIERA_ALTAMIRA','CLIENTE NAVIERA_ENSENADA','CLIENTE NAVIERA_MANZANILLO','CLIENTE NAVIERA_PANTACO','CLIENTE NAVIERA_VERACRUZ')" 
							class="dropdown-item" th:href="@{/containers/containerClient}">Unidades</a> -->
							<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')"
							class="dropdown-item" th:href="@{/containers/container}">Unidades</a>
						</div>
					</li>
				 <li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')" 
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-clipboard"></i> Asignaciones </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/assignments/bookings}">bookings</a>
						</div>
					</li>
					<!--   <li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER')" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-clipboard"></i> Ordenes de entrega </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/deliveryOrders/deliveryOrders}">Ordenes de entrega</a>
						</div>
					</li>-->
					
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-money-bill"></i> Estimados </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/quotes/quote}">Estimados</a>
							<a class="dropdown-item" th:href="@{/quotes/quoteClients}">Revision de Estimados</a>
						 <a class="dropdown-item" th:href="@{/quotes/priceLists}">Lista de precios</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-hammer"></i> Reparaciones </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/inspections/inspection}">Reparaciones</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'INSPECTOR_AGUASCALIENTES','INSPECTOR_ALTAMIRA','INSPECTOR_ENSENADA','INSPECTOR_MANZANILLO','INSPECTOR_PANTACO','INSPECTOR_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-warehouse"></i> Inspeccion de salida </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/inspections/inspectionOut}">Inspección de salida</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a sec:authorize="hasAnyRole('ADMIN','MASTER',
						'CAPTURISTA_AGUASCALIENTES','CAPTURISTA_ALTAMIRA','CAPTURISTA_ENSENADA','CAPTURISTA_MANZANILLO','CAPTURISTA_PANTACO','CAPTURISTA_VERACRUZ',
						'SUPERVISOR DE CAPTURA_AGUASCALIENTES','SUPERVISOR DE CAPTURA_ALTAMIRA','SUPERVISOR DE CAPTURA_ENSENADA','SUPERVISOR DE CAPTURA_MANZANILLO','SUPERVISOR DE CAPTURA_PANTACO','SUPERVISOR DE CAPTURA_VERACRUZ',
						'SUPERVISOR DE PATIO_AGUASCALIENTES','SUPERVISOR DE PATIO_ALTAMIRA','SUPERVISOR DE PATIO_ENSENADA','SUPERVISOR DE PATIO_MANZANILLO','SUPERVISOR DE PATIO_PANTACO','SUPERVISOR DE PATIO_VERACRUZ',
						'JEFE DE OPERACIONES_AGUASCALIENTES','JEFE DE OPERACIONES_ALTAMIRA','JEFE DE OPERACIONES_ENSENADA','JEFE DE OPERACIONES_MANZANILLO','JEFE DE OPERACIONES_PANTACO','JEFE DE OPERACIONES_VERACRUZ',
						'CONSULTA_AGUASCALIENTES','CONSULTA_ALTAMIRA','CONSULTA_ENSENADA','CONSULTA_MANZANILLO','CONSULTA_PANTACO','CONSULTA_VERACRUZ',
						'ADMINISTRACION CORPORATIVA_AGUASCALIENTES','ADMINISTRACION CORPORATIVA_ALTAMIRA','ADMINISTRACION CORPORATIVA_ENSENADA','ADMINISTRACION CORPORATIVA_MANZANILLO','ADMINISTRACION CORPORATIVA_PANTACO','ADMINISTRACION CORPORATIVA_VERACRUZ')" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-box-open"></i> Gate Out </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/containers/gateOut}">Gate Out </a>
						</div>
					</li> 
				</ul>
			</div>
		</nav>
	</th:block>
</body>
</html>